@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}


<html>
	<body >	
	<!-- Main -->
		<div id="main">
			<div class="container">
				<header>
					<h2>Contents</h2>
				</header>
				<div class="row">
					<div class="3u" style="text-align: center">
						<section>
							<a href="courses" class="image full"><img src="images/study.jpg" height="150" alt="" /></a>
							<a href="courses" class="button"  >Courses</a>
						</section>
					</div>
					<div class="3u" style="text-align: center">
						<section>
							<a href="events" class="image full"><img src="images/events.jpg" height="150" alt="" /></a>
							<a href="events" class="button" >Events</a>
						</section>
					</div>
					<div class="3u" style="text-align: center">
						<section>
							<a href="timetable" class="image full"><img src="images/time.jpg" height="150" alt=""/></a>
							<a href="timetable" class="button"  >Timetable</a>
						</section>
					</div>
				    <div class="3u" style="text-align: center">
				        <section>
					      <a href="campusinformation" class="image full"><img src="images/bangor.jpg" height="150" alt=""/></a>
					      <a href="campusinformation" class="button">Campus information</a>
				        </section>
			         </div>
				</div>
				<div class="row">
				</div>
			</div>
		</div>
	<!-- Main -->
	</body>
</html>