@{
	Layout = "Master.cshtml";
}
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Gallery>
@using ContentModels = Umbraco.Web.PublishedModels;

<html>
	<body >	
	<!-- Main -->
		<div id="main">
			<div class="container">
				<header>
					<h2>Gallery</h2>
				</header>
				<p>@Model.Value("imageName")</p>
			</div>
		</div>
	<!-- Main -->

	</body>
</html>