@{
	Layout = "Master.cshtml";
}
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;


<html>
	<body >	
	<!-- Main -->
		<div id="main">
			<div class="container">
				<header>
					<h2>@Model.Value("pageTitle")</h2>
				</header>
                <p>@Model.Value("bodyText")</p>
			</div>
		</div>
	<!-- Main -->

	</body>
</html>